{
  "extends": "loopback",
  "rules": {
    "one-var": 0,
    "camelcase": 0,
    "object-curly-spacing": 0,
    "array-bracket-spacing": 0,
    "max-len": ["error", 120, {
      "ignoreComments": true,
      "ignoreUrls": true,
      "ignorePattern": "^\\s*var\\s.+=\\s*(require\\s*\\()|(/)"
    }]
  }
}